.routes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.routes__route {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.routes__route--completed {
  color: #CCC;
}

.routes__route-col {
  display: flex;
  flex: 0 1 33%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #EEE;
}

.routes__route-name {
  flex: 0 1 20%;
}

.routes__route-attempts {
  flex: 0 1 40%;
}

.routes__route-complete {
  flex: 0 1 40%;
}
