.sets {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sets__set {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sets__set-col {
  display: flex;
  flex: 0 1 33%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #EEE;
}
